Cliente CSharp/Connected Services/srClinica/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Listar">
        <s:complexType />
      </s:element>
      <s:element name="ListarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Agregar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellidos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaNacimiento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sexo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="estadoCivil" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ocupacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgregarResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListarHo">
        <s:complexType />
      </s:element>
      <s:element name="ListarHoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarHoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarHo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idHo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descricion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="director" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contacto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarHoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgregarHoResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarHi">
        <s:complexType />
      </s:element>
      <s:element name="ListarHiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarHiResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarHi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="detalle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nroExpediente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Antecedente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="peso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="talla" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="motivoConsulta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sintomas" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="adicciones" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="procedimiento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idU" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idHo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaRegistro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarHiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgregarHiResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListarSoapIn">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="ListarSoapOut">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarSoapIn">
    <wsdl:part name="parameters" element="tns:Agregar" />
  </wsdl:message>
  <wsdl:message name="AgregarSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarResponse" />
  </wsdl:message>
  <wsdl:message name="ListarHoSoapIn">
    <wsdl:part name="parameters" element="tns:ListarHo" />
  </wsdl:message>
  <wsdl:message name="ListarHoSoapOut">
    <wsdl:part name="parameters" element="tns:ListarHoResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarHoSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarHo" />
  </wsdl:message>
  <wsdl:message name="AgregarHoSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarHoResponse" />
  </wsdl:message>
  <wsdl:message name="ListarHiSoapIn">
    <wsdl:part name="parameters" element="tns:ListarHi" />
  </wsdl:message>
  <wsdl:message name="ListarHiSoapOut">
    <wsdl:part name="parameters" element="tns:ListarHiResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarHiSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarHi" />
  </wsdl:message>
  <wsdl:message name="AgregarHiSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarHiResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="Listar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Listar pacientes</wsdl:documentation>
      <wsdl:input message="tns:ListarSoapIn" />
      <wsdl:output message="tns:ListarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Agregar paciente</wsdl:documentation>
      <wsdl:input message="tns:AgregarSoapIn" />
      <wsdl:output message="tns:AgregarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarHo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Listar hospitales</wsdl:documentation>
      <wsdl:input message="tns:ListarHoSoapIn" />
      <wsdl:output message="tns:ListarHoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarHo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Agregar hospitales</wsdl:documentation>
      <wsdl:input message="tns:AgregarHoSoapIn" />
      <wsdl:output message="tns:AgregarHoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarHi">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Listar historias</wsdl:documentation>
      <wsdl:input message="tns:ListarHiSoapIn" />
      <wsdl:output message="tns:ListarHiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarHi">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Agregar historia</wsdl:documentation>
      <wsdl:input message="tns:AgregarHiSoapIn" />
      <wsdl:output message="tns:AgregarHiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <soap:operation soapAction="http://tempuri.org/Agregar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarHo">
      <soap:operation soapAction="http://tempuri.org/ListarHo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarHo">
      <soap:operation soapAction="http://tempuri.org/AgregarHo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarHi">
      <soap:operation soapAction="http://tempuri.org/ListarHi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarHi">
      <soap:operation soapAction="http://tempuri.org/AgregarHi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap12:operation soapAction="http://tempuri.org/Listar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <soap12:operation soapAction="http://tempuri.org/Agregar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarHo">
      <soap12:operation soapAction="http://tempuri.org/ListarHo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarHo">
      <soap12:operation soapAction="http://tempuri.org/AgregarHo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarHi">
      <soap12:operation soapAction="http://tempuri.org/ListarHi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarHi">
      <soap12:operation soapAction="http://tempuri.org/AgregarHi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44392/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44392/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>